@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  overscroll-behavior-y: none;
}

/* Loading spinner stuff */
.spinner_ZCsl {
  animation: spinner_qV4G 1.2s cubic-bezier(0.52, 0.6, 0.25, 0.99) infinite;
}
.spinner_gaIW {
  animation-delay: 0.6s;
}
@keyframes spinner_qV4G {
  0% {
    r: 0;
    opacity: 1;
  }
  100% {
    r: 11px;
    opacity: 0;
  }
}
